body {
  margin: 0px;
  padding: 0px;
  color: #fff;

}
.new-question input {
  width: 100%;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  /*-webkit-padding-end: 10px;
  -moz-padding-end: 10px;*/
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  text-align: left;
}
.chat-window input {
  width: 100%;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  /*-webkit-padding-end: 10px;
  -moz-padding-end: 10px;*/
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  text-align: left;
}

.questions-window {
    padding: 10px;
    box-sizing: border-box;
    width: 30%;
    height:100%;
    float:left;
    background: #000;
}
.question-header {
  position: relative;
  padding: 5px 10px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*background: #465381;*/
  background: #920f0f;
  height: 30px;
  width: 100%;
}
.questions-body {
  height: 80%;
  overflow: scroll;
  color: #000;
}
.question {
  position: relative;
  width: 100%;
  min-height:100px;
  margin: 5px auto;
  background-color: #fff;
  border-radius: 5px;
}
.my-question {
  position: relative;
  width: 100%;
  min-height:100px;
  margin: 5px auto;
  background-color: #eee;
  border-radius: 5px;
}
.asker {
  position: relative;
  text-align: left;
  float: left;
  width: 50%;
  color: #fff;
}
.question-time {
  position: relative;
  float: left;
  text-align: right;
  width: 50%;
  color: #fff;
}
.user-question {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
    /*float:left;*/
    width:100%;
    font-size:20px;
    /*overflow:auto;*/
}
.user-question p {
    float:left;
}
.resolve {
  display:block;
  background-color:lightgrey;
  padding:5px;
  border-radius:5px;
  float:left;
  text-align:center;
  line-height:20px;
}

.image-window {
  /*display: none;*/
  width:40%;
  height:100%;
  float:left;
  background-image: url('./assets/images/dog.jpg');
  background-size: contain;
}

.chat-window {
    padding: 10px;
    box-sizing: border-box;
    width: 30%;
    height:100%;
    float:right;
    background: #000;
}
.message-header {
  position: relative;
  padding: 5px 10px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #465381;
  /*background: #920f0f;*/
  height: 30px;
  width: 100%;
}
.messages-body {
  height: 80%;
  overflow: scroll;
  color: #000;
}
.message {
  position: relative;
  width: 100%;
  min-height:100px;
  margin: 5px auto;
  background-color: #fff;
  border-radius: 5px;
}
.my-message {
  position: relative;
  width: 100%;
  min-height:100px;
  margin: 5px auto;
  background-color: #eee;
  border-radius: 5px;
}
.user {
  position: relative;
  text-align: left;
  float: left;
  width: 50%;
  color: #fff;
}
.message-time {
  position: relative;
  float: left;
  text-align: right;
  width: 50%;
  color: #fff;
}
.user-message {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
    /*float:left;*/
    width:100%;
    font-size:20px;
    /*overflow:auto;*/
}
.user-message p {
    float:left;
}
