body {
  margin: 0px;
  padding: 0px;
  color: #fff;
  background: #000;
}

.questions-window {
    padding: 10px;
    box-sizing: border-box;
    width: 30%;
    height:100%;
    float:left;
    background: #000;
}
.question-header {
  position: relative;
  padding: 5px 10px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*background: #465381;*/
  background: #920f0f;
  height: 30px;
  width: 100%;
}
.questions-body {
  height: 80%;
  overflow: scroll;
  color: #000;
}
.question {
  position: relative;
  width: 100%;
  min-height:100px;
  margin: 5px auto;
  background-color: #fff;
  /*border: 1px solid #fff;
  box-sizing: border-box;*/
  border-radius: 5px;
}
/*.my-question {
    width:100%;
    height:60px;
    margin-bottom:8px;
    background-color:lightcoral;
}*/
.asker {
  position: relative;
  text-align: left;
  float: left;
  width: 50%;
  color: #fff;
}
.question-time {
  position: relative;
  float: left;
  text-align: right;
  width: 50%;
  color: #fff;
}
/*.who-when {
    clear:left;
    float:left;
    width:30%;
}
.who-when h1, .who-when h2 {
    overflow:hidden;
    font-size: 15px;
}*/
.user-question {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
    /*float:left;*/
    width:100%;
    font-size:20px;
    /*overflow:auto;*/
}
.user-question p {
    float:left;
}
/*.resolve {
  display:block;
  background-color:lightgrey;
  padding:5px;
  border-radius:5px;
  float:left;
  text-align:center;
  line-height:20px;
}*/
.image-window {
  display: none;
  width:40%;
  height:100%;
  float:left;
  background-color: green;
}
.chat-window {
  padding: 10px;
  box-sizing: border-box;
  width: 30%;
  height:100%;
  float:right;
  background: #000;
  overflow: scroll;
}
.chat-box {
    height:600px;
    width:100%;
    background-color:white;
}
.msg {
    height:60px;
    width:100%;
    background-color: lightgrey;
    margin-bottom:10px;
}
.my-msg {
    height:60px;
    width:100%;
    background-color: lightcoral;
    margin-bottom:10px;
}
.chat-message {
    width:65%;
    float:left;
}
